<%- include('partials/header'); -%>

  <div class="card" style="margin-top:10px">
    <div class="card-header" style="background-color:#edf7fa">
      <h1 style="text-align:center; color:#0f4c75"><%=titles%></h1>
    </div>
    <div class="card-body">
      <p class="card-text" style="font-family:monospace;font-size:25px">
        <%=post%>
      </p>

    </div>
  </div>



<%- include('partials/footer'); -%>
